<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 border border-primary p-2 rounded shadow-lg">
      <form class="form-reactive" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <h3>Reactive Form</h3>
        <div class="form-floating mb-3">
          <input id="floatingInput" type="text" class="form-control" [ngClass]="isFieldValid('fullName')?'is-invalid':''" placeholder="Enter name here" formControlName="fullName">
          <label for="floatingInput">Name*</label>
        </div>
        <div class="invalid-feedback mb-2" [ngClass]="isFieldValid('fullName')?'d-block':''">
          Name must be introduce.
        </div>
        <div class="form-floating mb-3">
          <input id="floatingEmail" type="text" class="form-control" [ngClass]="isFieldValid('email')?'is-invalid':''" placeholder="Enter email here" formControlName="email">
          <label for="floatingEmail">Email*</label>
        </div>
        <div class="invalid-feedback mb-2" [ngClass]="isFieldValid('email')?'d-block':''">
         Email must be Vaild email with @ sign.
        </div>
        <div class="form-floating mb-3">
          <input id="floatingNumber" type="number" class="form-control" [ngClass]="isFieldValid('phone')?'is-invalid':''" placeholder="Enter phone number here" formControlName="phone">
          <label for="floatingNumber">Phone*</label>
        </div>
        <div class="invalid-feedback mb-2" [ngClass]="isFieldValid('phone')?'d-block':''">
          Phone number must be digit
        </div>
        <div class="form-floating mb-3 has-validation">
          <input id="floatingAddress" type="text" class="form-control" [ngClass]="isFieldValid('address')?'is-invalid':''" placeholder="60357, frankfurt" formControlName="address">
          <label for="floatingAddress">address</label>
        </div>
        <div class="invalid-feedback mb-2" [ngClass]="isFieldValid('address')?'d-block':''">
          Address must match this Pattern 65235
        </div>

        <div class="form-floating mb-3">
          <textarea id="floatingTextarea" class="form-control" placeholder="Say something!!"
            formControlName="message"></textarea>
            <label for="floatingTextarea">Message</label>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!profileForm.valid">Some Action!!</button>

        <p>Form Value: {{ profileForm.value | json}}</p>
        <p>Form Status: {{ profileForm.get('address').Status }}</p>
      </form>

    </div>
    <div class="col-4"></div>
  </div>
</div>



